.form-horizontal .form-group input{margin-right: 15px !important;}
[required] {background:url(../img/required.png) no-repeat 5px center;background-color: #fff !important;}
textarea {resize:none !important;	}
textarea:required{background:url(../img/required.png) no-repeat 5px 10px !important;background-color: #fff !important;	}	
input:required:valid , select:valid, textarea:valid{background:url() no-repeat left center !important; background-color: #fff !important;}
.form-control , .chosen-single{padding-top: 6px;padding-right: 12px;padding-bottom: 6px;padding-left: 25px !important;} 




















