[required] {background:url(../img/required.png) no-repeat 5px center;background-color: #fff !important;}
textarea {resize:none !important;	}
textarea:required{background:url(../img/required.png) no-repeat 5px 10px !important;background-color: #fff !important;	}	
input:required:valid , select:valid, textarea:valid{background:url() no-repeat left center !important; background-color: #fff !important;}
.form-control , .chosen-single{padding-top: 6px;padding-right: 12px;padding-bottom: 6px;padding-left: 25px !important;} 






.input-group-addon {

    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
        border-left-color: rgb(204, 204, 204);
        border-left-style: solid;
        border-left-width: 1px;
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}
.input-group-addon:last-child {

     border-left-color: rgb(204, 204, 204);
        border-left-style: solid;
        border-left-width: 1px;

}













