/*colores para las fuentes*/
.color-red {                 color: #ed7a53 !important;}
.color-red-light {           color: #ec8765 !important;}
.color-red-dark {            color: #ec693c !important;}
.color-blue {                color: #3399cc !important;}
.color-blue-light {          color: #4faede !important;}
.color-blue-dark {           color: #1e86ba !important;}
.color-green {               color: #9fc569 !important;}
.color-green-light {         color: #adcf7e !important;}
.color-green-dark {          color: #8db652 !important;}
.color-yellow {              color: #f4ad49 !important;}
.color-yellow-light {        color: #f5b75f !important;}
.color-yellow-dark {         color: #d69840 !important;}
.color-white {               color: #ffffff !important;}
.color-dark {                color: #1f3140 !important;}
.color-dark-light {          color: #273e51 !important;}
.color-dark-dark {           color: #17242f !important;}
.color-gray {                color: #a2aaac !important;}
.color-gray-light {          color: #777777 !important;}
.color-gray-dark {           color: #333333 !important;}
.color-mdb-text {            color: #45526e !important;}
.color-red-text {            color: #f44336 !important;}
.color-pink-text {           color: #e91e63 !important;}
.color-purple-text {         color: #9c27b0 !important;}
.color-deep-purple-text {    color: #673ab7 !important;}
.color-indigo-text {         color: #3f51b5 !important;}
.color-blue-text {           color: #2196f3 !important;}
.color-light-blue-text{      color: #03a9f4 !important;}
.color-cyan-text{            color: #00bcd4 !important;}
.color-teal-text{            color: #009688 !important;}
.color-green-text{           color: #4caf50 !important;}
.color-light-green-text{     color: #8bc34a !important;}
.color-lime-text{            color: #cddc39 !important;}
.color-yellow-text{          color: #ffeb3b !important;}
.color-amber-text{           color: #ffc107 !important;}
.color-orange-text{          color: #ff9800 !important;}
.color-deep-orange-text{     color: #ff5722 !important;}
.color-brown-text{           color: #795548 !important;}
.color-blue-grey-text{       color: #607d8b !important;}
.color-grey-text{            color: #9e9e9e !important;}

/*colores de fondo*/

/*colores normales*/
.bg-purple {             background-color: #605ca8 !important;}
.bg-green {              background-color: #00a65a !important;}
.bg-yellow{              background-color: #f39c12 !important;}
.bg-aqua {               background-color: #00c0ef !important;}
.bg-black {              background-color: #444444 !important;}
.bg-red {                background-color: #dd4b39 !important;}
.bg-ocean_boat_blue {    background-color: #0077BE !important;}

/*colores pasteles*/
.bg-pastel_magenta {         background-color: #F49AC2 !important;}
.bg-pastel_violet {          background-color: #CB99C9 !important;}
.bg-pastel_pink_2 {          background-color: #FFD1DC !important;}
.bg-pastel_pink {            background-color: #DEA5A4 !important;}
.bg-pastel_blue {            background-color: #AEC6CF !important;}
.bg-pastel_green {           background-color: #77DD77 !important;}
.bg-pastel_gray {            background-color: #CFCFC4 !important;}
.bg-pastel_purple {          background-color: #B39EB5 !important;}
.bg-pastel_orange {          background-color: #FFB347 !important;}
.bg-pastel_red {             background-color: #FF6961 !important;}
.bg-pastel_yellow {          background-color: #FDFD96 !important;}
.bg-pastel_brown {           background-color: #836953 !important;}
.bg-light_pastel_purple {    background-color: #B19CD9 !important;}
.bg-dark_pastel_blue {       background-color: #779ECB !important;}
.bg-dark_pastel_purple {     background-color: #966FD6 !important;}
.bg-dark_pastel_green {      background-color: #03C03C !important;}
.bg-dark_pastel_red {        background-color: #C23B22 !important;}

.mdb-color {           background-color: #45526e !important;}
.mdb-color-lighten-1 { background-color: #59698d !important;}
.mdb-color-lighten-2 { background-color: #7283a7 !important;}
.mdb-color-lighten-3 { background-color: #929fba !important;}
.mdb-color-lighten-4 { background-color: #b1bace !important;}
.mdb-color-lighten-5 { background-color: #d0d6e2 !important;}
.mdb-color-darken-1 {  background-color: #3b465e !important;}
.mdb-color-darken-2 {  background-color: #2e3951 !important;}
.mdb-color-darken-3 {  background-color: #1c2a48 !important;}
.mdb-color-darken-4 {  background-color: #1c2331 !important;}

.bkg-red {           background-color: #f44336 !important;}
.bkg-red-lighten-1 { background-color: #ef5350 !important;}
.bkg-red-lighten-2 { background-color: #e57373 !important;}
.bkg-red-lighten-3 { background-color: #ef9a9a !important;}
.bkg-red-lighten-4 { background-color: #ffcdd2 !important;}
.bkg-red-lighten-5 { background-color: #ffebee !important;}
.bkg-red-darken-1 {  background-color: #e53935 !important;}
.bkg-red-darken-2 {  background-color: #d32f2f !important;}
.bkg-red-darken-3 {  background-color: #c62828 !important;}
.bkg-red-darken-4 {  background-color: #b71c1c !important;}
.bkg-red-accent-1 {  background-color: #ff8a80 !important;}
.bkg-red-accent-2 {  background-color: #ff5252 !important;}
.bkg-red-accent-3 {  background-color: #ff1744 !important;}
.bkg-red-accent-4 {  background-color: #d50000 !important;}

.bkg-pink {           background-color: #e91e63 !important;}
.bkg-pink-lighten-1 { background-color: #ec407a !important;}
.bkg-pink-lighten-2 { background-color: #f06292 !important;}
.bkg-pink-lighten-3 { background-color: #f48fb1 !important;}
.bkg-pink-lighten-4 { background-color: #f8bbd0 !important;}
.bkg-pink-lighten-5 { background-color: #fce4ec !important;}
.bkg-pink-darken-1 {  background-color: #d81b60 !important;}
.bkg-pink-darken-2 {  background-color: #c2185b !important;}
.bkg-pink-darken-3 {  background-color: #ad1457 !important;}
.bkg-pink-darken-4 {  background-color: #880e4f !important;}
.bkg-pink-accent-1 {  background-color: #ff80ab !important;}
.bkg-pink-accent-2 {  background-color: #ff4081 !important;}
.bkg-pink-accent-3 {  background-color: #f50057 !important;}
.bkg-pink-accent-4 {  background-color: #c51162 !important;}

.bkg-purple {           background-color: #9c27b0 !important;}
.bkg-purple-lighten-5 { background-color: #f3e5f5 !important;}
.bkg-purple-lighten-4 { background-color: #e1bee7 !important;}
.bkg-purple-lighten-3 { background-color: #ce93d8 !important;}
.bkg-purple-lighten-2 { background-color: #ba68c8 !important;}
.bkg-purple-lighten-1 { background-color: #ab47bc !important;}
.bkg-purple-darken-1 {  background-color: #8e24aa !important;}
.bkg-purple-darken-2 {  background-color: #7b1fa2 !important;}
.bkg-purple-darken-3 {  background-color: #6a1b9a !important;}
.bkg-purple-darken-4 {  background-color: #4a148c !important;}
.bkg-purple-accent-1 {  background-color: #ea80fc !important;}
.bkg-purple-accent-2 {  background-color: #e040fb !important;}
.bkg-purple-accent-3 {  background-color: #d500f9 !important;}
.bkg-purple-accent-4 {  background-color: #aa00ff !important;}

.bkg-deep-purple {           background-color: #673ab7 !important;}
.bkg-deep-purple-lighten-5 { background-color: #ede7f6 !important;}
.bkg-deep-purple-lighten-4 { background-color: #d1c4e9 !important;}
.bkg-deep-purple-lighten-3 { background-color: #b39ddb !important;}
.bkg-deep-purple-lighten-2 { background-color: #9575cd !important;}
.bkg-deep-purple-lighten-1 { background-color: #7e57c2 !important;}
.bkg-deep-purple-darken-1 {  background-color: #5e35b1 !important;}
.bkg-deep-purple-darken-2 {  background-color: #512da8 !important;}
.bkg-deep-purple-darken-3 {  background-color: #4527a0 !important;}
.bkg-deep-purple-darken-4 {  background-color: #311b92 !important;}
.bkg-deep-purple-accent-1 {  background-color: #b388ff !important;}
.bkg-deep-purple-accent-2 {  background-color: #7c4dff !important;}
.bkg-deep-purple-accent-3 {  background-color: #651fff !important;}
.bkg-deep-purple-accent-4 {  background-color: #6200ea !important;}

.bkg-indigo {           background-color: #3f51b5 !important;}
.bkg-indigo-lighten-5 { background-color: #e8eaf6 !important;}
.bkg-indigo-lighten-4 { background-color: #c5cae9 !important;}
.bkg-indigo-lighten-3 { background-color: #9fa8da !important;}
.bkg-indigo-lighten-2 { background-color: #7986cb !important;}
.bkg-indigo-lighten-1 { background-color: #5c6bc0 !important;}
.bkg-indigo-darken-1 {  background-color: #3949ab !important;}
.bkg-indigo-darken-2 {  background-color: #303f9f !important;}
.bkg-indigo-darken-3 {  background-color: #283593 !important;}
.bkg-indigo-darken-4 {  background-color: #1a237e !important;}
.bkg-indigo-accent-1 {  background-color: #8c9eff !important;}
.bkg-indigo-accent-2 {  background-color: #536dfe !important;}
.bkg-indigo-accent-3 {  background-color: #3d5afe !important;}
.bkg-indigo-accent-4 {  background-color: #304ffe !important;}

.bkg-blue {           background-color: #2196f3 !important;}
.bkg-blue-lighten-5 { background-color: #e3f2fd !important;}
.bkg-blue-lighten-4 { background-color: #bbdefb !important;}
.bkg-blue-lighten-3 { background-color: #90caf9 !important;}
.bkg-blue-lighten-2 { background-color: #64b5f6 !important;}
.bkg-blue-lighten-1 { background-color: #42a5f5 !important;}
.bkg-blue-darken-1{   background-color: #1e88e5 !important;}
.bkg-blue-darken-2{   background-color: #1976d2 !important;}
.bkg-blue-darken-3{   background-color: #1565c0 !important;}
.bkg-blue-darken-4{   background-color: #0d47a1 !important;}
.bkg-blue-accent-1{   background-color: #82b1ff !important;}
.bkg-blue-accent-2{   background-color: #448aff !important;}
.bkg-blue-accent-3{   background-color: #2979ff !important;}
.bkg-blue-accent-4{   background-color: #2962ff !important;}

.bkg-light-blue{           background-color: #03a9f4 !important;}
.bkg-light-blue-lighten-5{ background-color: #e1f5fe !important;}
.bkg-light-blue-lighten-4{ background-color: #b3e5fc !important;}
.bkg-light-blue-lighten-3{ background-color: #81d4fa !important;}
.bkg-light-blue-lighten-2{ background-color: #4fc3f7 !important;}
.bkg-light-blue-lighten-1{ background-color: #29b6f6 !important;}
.bkg-light-blue-darken-1{  background-color: #039be5 !important;}
.bkg-light-blue-darken-2{  background-color: #0288d1 !important;}
.bkg-light-blue-darken-3{  background-color: #0277bd !important;}
.bkg-light-blue-darken-4{  background-color: #01579b !important;}
.bkg-light-blue-accent-1{  background-color: #80d8ff !important;}
.bkg-light-blue-accent-2{  background-color: #40c4ff !important;}
.bkg-light-blue-accent-3{  background-color: #00b0ff !important;}
.bkg-light-blue-accent-4{  background-color: #0091ea !important;}

.bkg-cyan{           background-color: #00bcd4 !important;}
.bkg-cyan-lighten-5{ background-color: #e0f7fa !important;}
.bkg-cyan-lighten-4{ background-color: #b2ebf2 !important;}
.bkg-cyan-lighten-3{ background-color: #80deea !important;}
.bkg-cyan-lighten-2{ background-color: #4dd0e1 !important;}
.bkg-cyan-lighten-1{ background-color: #26c6da !important;}
.bkg-cyan-darken-1{  background-color: #00acc1 !important;}
.bkg-cyan-darken-2{  background-color: #0097a7 !important;}
.bkg-cyan-darken-3{  background-color: #00838f !important;}
.bkg-cyan-darken-4{  background-color: #006064 !important;}
.bkg-cyan-accent-1{  background-color: #84ffff !important;}
.bkg-cyan-accent-2{  background-color: #18ffff !important;}
.bkg-cyan-accent-3{  background-color: #00e5ff !important;}
.bkg-cyan-accent-4{  background-color: #00b8d4 !important;}

.bkg-teal{           background-color: #009688 !important;}
.bkg-teal-lighten-5{ background-color: #e0f2f1 !important;}
.bkg-teal-lighten-4{ background-color: #b2dfdb !important;}
.bkg-teal-lighten-3{ background-color: #80cbc4 !important;}
.bkg-teal-lighten-2{ background-color: #4db6ac !important;}
.bkg-teal-lighten-1{ background-color: #26a69a !important;}
.bkg-teal-darken-1{  background-color: #00897b !important;}
.bkg-teal-darken-2{  background-color: #00796b !important;}
.bkg-teal-darken-3{  background-color: #00695c !important;}
.bkg-teal-darken-4{  background-color: #004d40 !important;}
.bkg-teal-accent-1{  background-color: #a7ffeb !important;}
.bkg-teal-accent-2{  background-color: #64ffda !important;}
.bkg-teal-accent-3{  background-color: #1de9b6 !important;}
.bkg-teal-accent-4{  background-color: #00bfa5 !important;}

.bkg-green{           background-color: #4caf50 !important;}
.bkg-green-lighten-5{ background-color: #e8f5e9 !important;}
.bkg-green-lighten-4{ background-color: #c8e6c9 !important;}
.bkg-green-lighten-3{ background-color: #a5d6a7 !important;}
.bkg-green-lighten-2{ background-color: #81c784 !important;}
.bkg-green-lighten-1{ background-color: #66bb6a !important;}
.bkg-green-darken-1{  background-color: #43a047 !important;}
.bkg-green-darken-2{  background-color: #388e3c !important;}
.bkg-green-darken-3{  background-color: #2e7d32 !important;}
.bkg-green-darken-4{  background-color: #1b5e20 !important;}
.bkg-green-accent-1{  background-color: #b9f6ca !important;}
.bkg-green-accent-2{  background-color: #69f0ae !important;}
.bkg-green-accent-3{  background-color: #00e676 !important;}
.bkg-green-accent-4{  background-color: #00c853 !important;}

.bkg-light-green{           background-color: #8bc34a !important;}
.bkg-light-green-lighten-5{ background-color: #f1f8e9 !important;}
.bkg-light-green-lighten-4{ background-color: #dcedc8 !important;}
.bkg-light-green-lighten-3{ background-color: #c5e1a5 !important;}
.bkg-light-green-lighten-2{ background-color: #aed581 !important;}
.bkg-light-green-lighten-1{ background-color: #9ccc65 !important;}
.bkg-light-green-darken-1{  background-color: #7cb342 !important;}
.bkg-light-green-darken-2{  background-color: #689f38 !important;}
.bkg-light-green-darken-3{  background-color: #558b2f !important;}
.bkg-light-green-darken-4{  background-color: #33691e !important;}
.bkg-light-green-accent-1{  background-color: #ccff90 !important;}
.bkg-light-green-accent-2{  background-color: #b2ff59 !important;}
.bkg-light-green-accent-3{  background-color: #76ff03 !important;}
.bkg-light-green-accent-4{  background-color: #64dd17 !important;}

.bkg-lime{           background-color: #cddc39 !important;}
.bkg-lime-lighten-5{ background-color: #f9fbe7 !important;}
.bkg-lime-lighten-4{ background-color: #f0f4c3 !important;}
.bkg-lime-lighten-3{ background-color: #e6ee9c !important;}
.bkg-lime-lighten-2{ background-color: #dce775 !important;}
.bkg-lime-lighten-1{ background-color: #d4e157 !important;}
.bkg-lime-darken-1{  background-color: #c0ca33 !important;}
.bkg-lime-darken-2{  background-color: #afb42b !important;}
.bkg-lime-darken-3{  background-color: #9e9d24 !important;}
.bkg-lime-darken-4{  background-color: #827717 !important;}
.bkg-lime-accent-1{  background-color: #f4ff81 !important;}
.bkg-lime-accent-2{  background-color: #eeff41 !important;}
.bkg-lime-accent-3{  background-color: #c6ff00 !important;}
.bkg-lime-accent-4{  background-color: #aeea00 !important;}

.bkg-yellow{           background-color: #ffeb3b !important;}
.bkg-yellow-lighten-5{ background-color: #fffde7 !important;}
.bkg-yellow-lighten-4{ background-color: #fff9c4 !important;}
.bkg-yellow-lighten-3{ background-color: #fff59d !important;}
.bkg-yellow-lighten-2{ background-color: #fff176 !important;}
.bkg-yellow-lighten-1{ background-color: #ffee58 !important;}
.bkg-yellow-darken-1{  background-color: #fdd835 !important;}
.bkg-yellow-darken-2{  background-color: #fbc02d !important;}
.bkg-yellow-darken-3{  background-color: #f9a825 !important;}
.bkg-yellow-darken-4{  background-color: #f57f17 !important;}
.bkg-yellow-accent-1{  background-color: #ffff8d !important;}
.bkg-yellow-accent-2{  background-color: #ff0 !important;}
.bkg-yellow-accent-3{  background-color: #ffea00 !important;}
.bkg-yellow-accent-4{  background-color: #ffd600 !important;}

.bkg-amber{           background-color: #ffc107 !important;}
.bkg-amber-lighten-5{ background-color: #fff8e1 !important;}
.bkg-amber-lighten-4{ background-color: #ffecb3 !important;}
.bkg-amber-lighten-3{ background-color: #ffe082 !important;}
.bkg-amber-lighten-2{ background-color: #ffd54f !important;}
.bkg-amber-lighten-1{ background-color: #ffca28 !important;}
.bkg-amber-darken-1{  background-color: #ffb300 !important;}
.bkg-amber-darken-2{  background-color: #ffa000 !important;}
.bkg-amber-darken-3{  background-color: #ff8f00 !important;}
.bkg-amber-darken-4{  background-color: #ff6f00 !important;}
.bkg-amber-accent-1{  background-color: #ffe57f !important;}
.bkg-amber-accent-2{  background-color: #ffd740 !important;}
.bkg-amber-accent-3{  background-color: #ffc400 !important;}
.bkg-amber-accent-4{  background-color: #ffab00 !important;}

.bkg-orange{           background-color: #ff9800 !important;}
.bkg-orange-lighten-5{ background-color: #fff3e0 !important;}
.bkg-orange-lighten-4{ background-color: #ffe0b2 !important;}
.bkg-orange-lighten-3{ background-color: #ffcc80 !important;}
.bkg-orange-lighten-2{ background-color: #ffb74d !important;}
.bkg-orange-lighten-1{ background-color: #ffa726 !important;}
.bkg-orange-darken-1{  background-color: #fb8c00 !important;}
.bkg-orange-darken-2{  background-color: #f57c00 !important;}
.bkg-orange-darken-3{  background-color: #ef6c00 !important;}
.bkg-orange-darken-4{  background-color: #e65100 !important;}
.bkg-orange-accent-1{  background-color: #ffd180 !important;}
.bkg-orange-accent-2{  background-color: #ffab40 !important;}
.bkg-orange-accent-3{  background-color: #ff9100 !important;}
.bkg-orange-accent-4{  background-color: #ff6d00 !important;}

.bkg-deep-orange{           background-color: #ff5722 !important;}
.bkg-deep-orange-lighten-5{ background-color: #fbe9e7 !important;}
.bkg-deep-orange-lighten-4{ background-color: #ffccbc !important;}
.bkg-deep-orange-lighten-3{ background-color: #ffab91 !important;}
.bkg-deep-orange-lighten-2{ background-color: #ff8a65 !important;}
.bkg-deep-orange-lighten-1{ background-color: #ff7043 !important;}
.bkg-deep-orange-darken-1{  background-color: #f4511e !important;}
.bkg-deep-orange-darken-2{  background-color: #e64a19 !important;}
.bkg-deep-orange-darken-3{  background-color: #d84315 !important;}
.bkg-deep-orange-darken-4{  background-color: #bf360c !important;}
.bkg-deep-orange-accent-1{  background-color: #ff9e80 !important;}
.bkg-deep-orange-accent-2{  background-color: #ff6e40 !important;}
.bkg-deep-orange-accent-3{  background-color: #ff3d00 !important;}
.bkg-deep-orange-accent-4{  background-color: #dd2c00 !important;}

.bkg-brown{           background-color: #795548 !important;}
.bkg-brown-lighten-5{ background-color: #efebe9 !important;}
.bkg-brown-lighten-4{ background-color: #d7ccc8 !important;}
.bkg-brown-lighten-3{ background-color: #bcaaa4 !important;}
.bkg-brown-lighten-2{ background-color: #a1887f !important;}
.bkg-brown-lighten-1{ background-color: #8d6e63 !important;}
.bkg-brown-darken-1{  background-color: #6d4c41 !important;}
.bkg-brown-darken-2{  background-color: #5d4037 !important;}
.bkg-brown-darken-3{  background-color: #4e342e !important;}
.bkg-brown-darken-4{  background-color: #3e2723 !important;}

.bkg-blue-grey{           background-color: #607d8b !important;}
.bkg-blue-grey-lighten-5{ background-color: #eceff1 !important;}
.bkg-blue-grey-lighten-4{ background-color: #cfd8dc !important;}
.bkg-blue-grey-lighten-3{ background-color: #b0bec5 !important;}
.bkg-blue-grey-lighten-2{ background-color: #90a4ae !important;}
.bkg-blue-grey-lighten-1{ background-color: #78909c !important;}
.bkg-blue-grey-darken-1{  background-color: #546e7a !important;}
.bkg-blue-grey-darken-2{  background-color: #455a64 !important;}
.bkg-blue-grey-darken-3{  background-color: #37474f !important;}
.bkg-blue-grey-darken-4{  background-color: #263238 !important;}

.bkg-grey{           background-color: #9e9e9e !important;}
.bkg-grey-lighten-5{ background-color: #fafafa !important;}
.bkg-grey-lighten-4{ background-color: #f5f5f5 !important;}
.bkg-grey-lighten-3{ background-color: #eee !important;}
.bkg-grey-lighten-2{ background-color: #e0e0e0 !important;}
.bkg-grey-lighten-1{ background-color: #bdbdbd !important;}
.bkg-grey-darken-1{  background-color: #757575 !important;}
.bkg-grey-darken-2{  background-color: #616161 !important;}
.bkg-grey-darken-3{  background-color: #424242 !important;}
.bkg-grey-darken-4{  background-color: #212121 !important;}

.rgba-mdb-color-slight,.rgba-mdb-color-slight:after {background-color: rgba(69, 82, 110, 0.1);}
.rgba-mdb-color-light,.rgba-mdb-color-light:after {background-color: rgba(69, 82, 110, 0.3);}
.rgba-mdb-color-strong,.rgba-mdb-color-strong:after {background-color: rgba(69, 82, 110, 0.7);}
.rgba-red-slight,.rgba-red-slight:after {background-color: rgba(244, 67, 54, 0.1);}
.rgba-red-light,.rgba-red-light:after {background-color: rgba(244, 67, 54, 0.3);}
.rgba-red-strong,.rgba-red-strong:after {background-color: rgba(244, 67, 54, 0.7);}
.rgba-pink-slight,.rgba-pink-slight:after {background-color: rgba(233, 30, 99, 0.1);}
.rgba-pink-light,.rgba-pink-light:after {background-color: rgba(233, 30, 99, 0.3);}
.rgba-pink-strong,.rgba-pink-strong:after {background-color: rgba(233, 30, 99, 0.7);}
.rgba-purple-slight,.rgba-purple-slight:after {background-color: rgba(156, 39, 176, 0.1);}
.rgba-purple-light,.rgba-purple-light:after {background-color: rgba(156, 39, 176, 0.3);}
.rgba-purple-strong,.rgba-purple-strong:after {background-color: rgba(156, 39, 176, 0.7);}
.rgba-deep-purple-slight,.rgba-deep-purple-slight:after {background-color: rgba(103, 58, 183, 0.1);}
.rgba-deep-purple-light,.rgba-deep-purple-light:after {background-color: rgba(103, 58, 183, 0.3);}
.rgba-deep-purple-strong,.rgba-deep-purple-strong:after {background-color: rgba(103, 58, 183, 0.7);}
.rgba-indigo-slight,.rgba-indigo-slight:after {background-color: rgba(63, 81, 181, 0.1);}
.rgba-indigo-light,.rgba-indigo-light:after {background-color: rgba(63, 81, 181, 0.3);}
.rgba-indigo-strong,.rgba-indigo-strong:after {background-color: rgba(63, 81, 181, 0.7);}
.rgba-blue-slight,.rgba-blue-slight:after{background-color:rgba(33,150,243,.1)}
.rgba-blue-light,.rgba-blue-light:after{background-color:rgba(33,150,243,.3)}
.rgba-blue-strong,.rgba-blue-strong:after{background-color:rgba(33,150,243,.7)}
.rgba-light-blue-slight,.rgba-light-blue-slight:after{background-color:rgba(3,169,244,.1)}
.rgba-light-blue-light,.rgba-light-blue-light:after{background-color:rgba(3,169,244,.3)}
.rgba-light-blue-strong,.rgba-light-blue-strong:after{background-color:rgba(3,169,244,.7)}
.rgba-cyan-slight,.rgba-cyan-slight:after{background-color:rgba(0,188,212,.1)}
.rgba-cyan-light,.rgba-cyan-light:after{background-color:rgba(0,188,212,.3)}
.rgba-cyan-strong,.rgba-cyan-strong:after{background-color:rgba(0,188,212,.7)}
.rgba-teal-slight,.rgba-teal-slight:after{background-color:rgba(0,150,136,.1)}
.rgba-teal-light,.rgba-teal-light:after{background-color:rgba(0,150,136,.3)}
.rgba-teal-strong,.rgba-teal-strong:after{background-color:rgba(0,150,136,.7)}
.rgba-green-slight,.rgba-green-slight:after{background-color:rgba(76,175,80,.1)}
.rgba-green-light,.rgba-green-light:after{background-color:rgba(76,175,80,.3)}
.rgba-green-strong,.rgba-green-strong:after{background-color:rgba(76,175,80,.7)}
.rgba-light-green-slight,.rgba-light-green-slight:after{background-color:rgba(139,195,74,.1)}
.rgba-light-green-light,.rgba-light-green-light:after{background-color:rgba(139,195,74,.3)}
.rgba-light-green-strong,.rgba-light-green-strong:after{background-color:rgba(139,195,74,.7)}
.rgba-lime-slight,.rgba-lime-slight:after{background-color:rgba(205,220,57,.1)}
.rgba-lime-light,.rgba-lime-light:after{background-color:rgba(205,220,57,.3)}
.rgba-lime-strong,.rgba-lime-strong:after{background-color:rgba(205,220,57,.7)}
.rgba-yellow-slight,.rgba-yellow-slight:after{background-color:rgba(255,235,59,.1)}
.rgba-yellow-light,.rgba-yellow-light:after{background-color:rgba(255,235,59,.3)}
.rgba-yellow-strong,.rgba-yellow-strong:after{background-color:rgba(255,235,59,.7)}
.rgba-amber-slight,.rgba-amber-slight:after{background-color:rgba(255,193,7,.1)}
.rgba-amber-light,.rgba-amber-light:after{background-color:rgba(255,193,7,.3)}
.rgba-amber-strong,.rgba-amber-strong:after{background-color:rgba(255,193,7,.7)}
.rgba-orange-slight,.rgba-orange-slight:after{background-color:rgba(255,152,0,.1)}
.rgba-orange-light,.rgba-orange-light:after{background-color:rgba(255,152,0,.3)}
.rgba-orange-strong,.rgba-orange-strong:after{background-color:rgba(255,152,0,.7)}
.rgba-deep-orange-slight,.rgba-deep-orange-slight:after{background-color:rgba(255,87,34,.1)}
.rgba-deep-orange-light,.rgba-deep-orange-light:after{background-color:rgba(255,87,34,.3)}
.rgba-deep-orange-strong,.rgba-deep-orange-strong:after{background-color:rgba(255,87,34,.7)}
.rgba-brown-slight,.rgba-brown-slight:after{background-color:rgba(121,85,72,.1)}
.rgba-brown-light,.rgba-brown-light:after{background-color:rgba(121,85,72,.3)}
.rgba-brown-strong,.rgba-brown-strong:after{background-color:rgba(121,85,72,.7)}
.rgba-blue-grey-slight,.rgba-blue-grey-slight:after{background-color:rgba(96,125,139,.1)}
.rgba-blue-grey-light,.rgba-blue-grey-light:after{background-color:rgba(96,125,139,.3)}
.rgba-blue-grey-strong,.rgba-blue-grey-strong:after{background-color:rgba(96,125,139,.7)}
.rgba-grey-slight,.rgba-grey-slight:after{background-color:rgba(158,158,158,.1)}
.rgba-grey-light,.rgba-grey-light:after{background-color:rgba(158,158,158,.3)}
.rgba-grey-strong,.rgba-grey-strong:after{background-color:rgba(158,158,158,.7)}


